.navbar-container {
    height: 120px;
    background-color: #c5f0fc;
    display: flex;
    margin: 0 auto;
    padding: 30px 20px;
    align-items: center;
    justify-content: space-between;
    position: sticky;
}

.navbar-left {
    flex: 1;
    display: flex;
}


.navbar-search {
    cursor: pointer;
    font-size: 16px;
    margin-left: 25px;
    text-decoration: none;
    line-height: 30px;
    width: 460px;
    color: black;
    --tw-bg-opacity: 1;
    background-color: rgba(241 245 249 / var(--tw-bg-opacity));
    position: relative;
    display: flex;
    align-items: center;
    height: 30px;
    border-radius: 5px;

}

input[type="text"] {
    width: 100%;
    height: 100%;
    padding: 8px;
    border: none;
    font-size: 16px;
    color: #333;
    outline: none;
    background:transparent;
}
.navbar-searchButton {
    cursor: pointer;
    --tw-text-opacity: 1;
    color: rgb(71 85 105 / var(--tw-text-opacity));
    position: absolute;
    right: 20px;
    font-size: 20px;

}


.navbar-center {
    flex: 2;
    text-align: center;
    font-size: 38px;
    text-decoration: none;
    color: black;
    font-weight: bold;

}
.navbar-title {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 48px;
    cursor: pointer;
}
.navbar-logo {
    font-weight: bold;
    font-size: 62px;
}

.navbar-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar-item {
    font-size: 16px;
    cursor: pointer;
    margin-left: 25px;
    text-decoration: none;
    color: black;
}

.MuiBadge-root {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
}

.MuiSvgIcon-root {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.54);
}

.MuiBadge-badge {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    align-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 500;
    font-size: 0.75rem;
    min-width: 20px;
    line-height: 1;
    padding: 0 6px;
    height: 20px;
    border-radius: 10px;
    z-index: 1;
    transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #1976d2;
    color: #fff;
    top: 0;
    right: 0;
    transform: scale(1) translate(50%, -50%);
    transform-origin: 100% 0%;
}

.scrolled{
    box-shadow: -5px 5px 19px -5px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: -5px 5px 19px -5px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: -5px 5px 19px -5px rgba(0, 0, 0, 0.08);
}

.logoutNavbar {
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
    margin-left: 25px;
    text-decoration: none;
    color: black;
}

.currentUser-img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    object-fit: cover;
}
.search-wrapper {
    height: 30px;
    background-color: #c5f0fc;
    padding: 10px 350px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.search {
    margin-right: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 25px;
    text-decoration: none;
    line-height: 30px;
    width: 460px;
    color: black;
    --tw-bg-opacity: 1;
    background-color: rgba(241 245 249 / var(--tw-bg-opacity));
    position: relative;
    display: flex;
    align-items: center;
    height: 30px;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .navbar-container {
        padding: 20px;
    }

    .navbar-center {
        font-size: 32px;
    }
}

@media screen and (max-width: 670px) {
    .navbar-container {
        padding: 10px;
    }

    .navbar-title {
        font-size: 20px;
    }

    input[type="text"] {
        font-size: 14px;
    }
    .navbar-searchButton {
        position: unset;
    }

    .navbar-item {
        font-size: 14px;

    }

    .navbar-center {
        font-size: 20px;
    }

    .logoutNavbar {
        margin-left: 15px;
    }



}
